
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto+Mono:wght@300&display=swap');

.container{
    width: 100%;
}

nav{
    background-color: #D9D9D9;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parttwo{
    width: 70rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.listtabs{
    width: 50rem;
}
.listtabs ul{
    display: flex;
    justify-content: space-between;
}
.listtabs li{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.listtabs a{
    color: #2A3C46;
    text-decoration: none;
    color: white;
    gap: 10px;
}
.second_container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.firstly{
    position: relative;
    transform: translate(-40%, 20%);
    height: 60rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
}
.first_part_description{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.kid3 h1{
    position: relative;
    transform: translateX(10%);
    font-weight: bold;
    font-size: 18px;
}
.second_part_description h2{
    position: relative;
    transform: translateX(10%);
    text-align: left;
    font-weight: bolder;
    font-size: 35px;
}
.second_part_description h3{
    position: relative;
    transform: translateX(10%);
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
.third_part_description p{
    position: relative;
    transform: translateX(10%);
   text-align: left;
   
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.first_footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CB2C31;
    font-family: 'Open Sans', sans-serif;
}
.kid4{
    width: 30rem;
    position: relative;
    transform: translateY(30%);
}
.second_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    /* gap: 9rem; */
    background-color: #E69598;
    font-family: 'Open Sans', sans-serif;
}
.kid7{
    width: 50rem;
    display: flex;
    justify-items: center;
    align-items: center;
}

.kid6{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kid8{
    text-align: center;
    color:#2A3C46;
    display: flex;
    align-items: center;
    gap: 80px;
}
.kid9{
    text-align: center;
    color: #2A3C46;
    display: flex;
    align-items: center;
    gap: 50px;
}

.kid10{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10rem;
}
.kid11{
    width: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tabsbutton button{
    background-color: #E69598;
    border-radius: 15px;
}
.fourth_part_description button{
    background-color: #E69598;
}
.kid5 li{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.kid5 a{
    color: #2A3C46;
    text-decoration: none;
    color: white;
    gap: 10px;
}
.kid5{
    display: flex;
    flex-direction: column;
}
.kid5 ul{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.mobile{
    color: white;
    height: 25px;
    width: 25px;
}
.mail{
    color: white;
    height: 25px;
    width: 25px;
}
.blood{
    color: #CB2C31;
    height: 70px;
    width: 70px;
}
.copyright{
    color: white;
}
.facebook{
    color: white;
}
.twitter{
    color: white;
}
.instagram{
    color: white;
}